extends layout.jade

block share
    a.twitter(href='https://twitter.com/intent/tweet?hashtags=httpstatuses&text=Helpful%20HTTP%20Status%20Code%20reference%20site&url=https%3A%2F%2Fhttpstatuses.zander.wtf&via=mrmartineau') &commat; Share on Twitter
    a.github(href='https://github.com/mrmartineau/httpstatuses') &bigstar; Star on GitHub

block contents
  block banner
  .hero.introduction: .container: .row: .twelve.columns
    != contents
  .share: .container: .row: .twelve.columns
    block share

  .container.codes: .row: .twelve.columns
    each group in groups.codes
      ul
        li #[h2 !{group.title}]
        each code in group.items
          li #[a(href='/#{code.code}') #[span !{code.code}] #{code.title}]
